body, html, div, main, header, h1 {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 14vw;
    height: 100vh;
    /* Watch out:
"vw" is for VIEWPORT WIDTH and
"vh" is for VIEWPORT HEIGHT  */
}

.day {
    background-color: #fff;
    border: solid 0.3em #3f1f8a;
    margin: 0.2em;
    border-radius: 2px;
    padding: 0.5em;
    font-style: bold;
    color: #3f1f8a;
}

.calendar-header{
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    align-items: flex-end;
    background-image: url(assets/duotone.png);
    background-size: cover;
    /* An element can be IN A GRID, but also can be a CONTAINER for a child element. */
}

.space {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}

.calendar-title {
    /* Watch out to have the flexbox in the CONTAINER! */
    font-size: 6em;
    color: #fff;
    background-color: #3f1f8a;
    /* margin-left: 0.3em; */
    margin-bottom: 0.2em;
    padding: 0.2em 0.4em;
    line-height: 1.3;
}

.day-29, {
    border: solid 0.3em #8a1f85;
    background-color: rgb(253, 232, 232);
}